@import "./sassTools\ copy";

.pages {
  .footer {
    .pageIndicator {
      height: 40px;
      display: flex;
      align-items: center;
      font-size: 1rem;

      .footerLogo {
        color: $placeHolderGray;
      }

      p {
        margin-left: 0.8rem;

        &:nth-of-type(1) {
          font-weight: 100;
          font-size: 0.8rem;
          transform: rotate(30deg) translateY(30%);
          margin-left: 1rem;

          &::after {
            content: "|";
            position: absolute;
            top: -8px;
            left: -5px;
            transform: rotate(-60deg);
          }
        }
      }
    }
    .sectionName {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
