@import "./sassTools";

.ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e34140;
  text-align: center;
  width: 100vw;

  div {
    font-size: 1rem;
    color: #fff;
    line-height: 1.4;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    width: 260px;
    padding: 0.8rem 0;
    font-weight: 300;
  }

  @include responsive(tablet) {
    div {
      width: 100%;
      font-size: 1rem;
    }
  }
}
